/* media querry for 935px */
@media screen and (max-width: 935px) {
  li {
    display: none;
  }
  ul {
    direction: ltr;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    list-style: none;
  }
}
