/* topbar */
.topbar {
  background-color: #46968e;
  height: 20vh;
  box-shadow: 3px 3px 2px 1px #313035;
}

/*logo*/
.logo-tag {
  display: flex;
  justify-content: flex-end;
  padding-top: 17.5px;
  padding-right: 40px;
}
.shop-name {
  font-family: "Pacifico", cursive;
  font-size: 50px;
  display: flex;
  justify-content: flex-end;
  line-height: 80px;
  padding-right: 74px;
  margin-top: -4px;
}
/* nav */
.nav-tag {
  display: flex;
  justify-content: center;
  margin-top: -40px;
}
nav ul {
  display: flex;
}
li {
  list-style-type: none;
  margin-right: 30px;
  font-weight: bolder;
  color: #313035;
  font-size: 18px;
}
li:hover {
  color: white;
  cursor: pointer;
  border-bottom: solid 2px #313035;
}
/*searchbox */
.searchbox {
  margin-top: -48px;
  margin-left: 40px;
  display: flex;
  justify-content: flex-start;
}
.searchbox input {
  background-color: #95cfab;
  border-radius: 7px;
  width: 200px;
  height: 28px;
  width: 190px;
  box-shadow: 3px 3px 2px 1px #313035;
}
.searchbox input::placeholder {
  padding-left: 60px;
  font-size: 20px;
  color: #313035;
}
