/* topbar */
.topbar {
  background-color: #46968e;
  height: 60px;
  border-bottom: #313035 solid 3px;
}
/* nav */
.nav-tag {
  display: flex;
  justify-content: flex-start;
}
nav ul {
  display: flex;
  justify-content: center;
}
li {
  list-style-type: none;
  margin-right: 30px;
  font-weight: bolder;
}
li a {
  color: #313035;
  font-size: 18px;
  text-decoration: none;
}
li a:hover {
  color: white;
  cursor: pointer;
}
/*logo*/
.logo {
  display: flex;
  justify-content: center;
  margin-top: -50px;
}
/* searchbox */
.searchbox {
  margin-top: -48px;
  margin-right: 30px;
  display: flex;
  justify-content: flex-end;
}
.searchbox input {
  background-color: #95cfab;
  border-radius: 7px;
  width: 200px;
  height: 28px;
  width: 190px;
  box-shadow: 3px 3px 2px 1px #313035;
}
.searchbox input::placeholder {
  padding-left: 60px;
  font-size: 20px;
  color: #313035;
}
